@media (max-width: 1110px){

  .desktop-nav {
    display: none;
  }

  .hamburger-nav{
    display: flex;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .innerContainer {
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }

  #profile-pic {
    width: clamp(120px, 50vw, 190px);
    height: auto;
  }

  .innerContainer p {
    flex: 1;
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.2rem); /* slightly larger on small screens */
    line-height: 1.7;
  }

  footer {
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.2rem); 
  }

  .fa-3x {
    font-size: 2em !important;
  }

  /* Projects section */
  /* .project-cards{
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(250px, auto);
  }

  .card{
    font-size: 0.6rem;
    padding: 10px;
  }

  .card:hover{
    transform: none;
  }

  .project-header{
    font-size: 0.9rem;
  } */
}

@media (max-width: 480px) {
  #profile-pic {
    width: clamp(120px, 50vw, 180px);
  }

  .innerContainer p {
    font-size: clamp(0.7rem, 1vw + 0.8rem, 0.9rem);
    line-height: 1.65rem;
  }

  footer {
    font-size: clamp(0.7rem, 1vw + 0.8rem, 0.9rem);
  }

}

@media (max-width: 344px){
  #profile-pic {
    width: clamp(100px, 50vw, 180px);
  }

  .innerContainer p {
    font-size: clamp(0.5rem, 1vw + 0.5rem, 0.8rem);
    line-height: 1.65rem;
  }

  footer {
    font-size: clamp(0.5rem, 1vw + 0.5rem, 0.8rem);
  }
}

 