@media (max-width: 1000px){
  .innerContainer{
    flex-direction: column;
    align-items: center;
  }
  .desktop-nav {
    display: none;
  }

  .hamburger-nav{
    display: flex;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 1em;
    padding: 1em;
  }

  nav {
    margin: 0;
  }

  nav ul {
    display: none;
    flex-direction: column;
  }

  nav.active ul {
    display: flex;
    flex-direction: column;
  }

  .innerContainer {
    max-width: 90%;
  }

  .fa-3x {
    font-size: 2em !important;
  }

  /* Projects section */
  /* .project-cards{
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(250px, auto);
  }

  .card{
    font-size: 0.6rem;
    padding: 10px;
  }

  .card:hover{
    transform: none;
  }

  .project-header{
    font-size: 0.9rem;
  } */
}
