@media (max-width: 1110px){
  .innerContainer{
    flex-direction: column;
    align-items: center;
  }

  .desktop-nav {
    display: none;
  }

  .hamburger-nav{
    display: flex;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .innerContainer {
    width: 100%;
    max-width: 95%;
    padding: 0 1rem;
  }

  #profile-pic {
    width: clamp(120px, 50vw, 220px);
    height: auto;
  }

  .innerContainer p {
    flex: 1 1 auto;
    max-width: 100%;   /* let it take the full width */
    font-size: clamp(0.95rem, 1vw + 0.6rem, 1.2rem); /* slightly larger on small screens */
    line-height: 1.6;
  }

  .fa-3x {
    font-size: 2em !important;
  }

  /* Projects section */
  /* .project-cards{
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(250px, auto);
  }

  .card{
    font-size: 0.6rem;
    padding: 10px;
  }

  .card:hover{
    transform: none;
  }

  .project-header{
    font-size: 0.9rem;
  } */
}

@media (max-width: 480px) {
  #profile-pic {
    width: clamp(120px, 50vw, 180px);
    height: auto;
  }

  .innerContainer p {
    font-size: 0.9rem;
    line-height: 1.65;
  }
}

@media (max-width: 344px){
  #profile-pic {
    width: clamp(140px, 30vw, 180px);
    height: auto;
  }

  .innerContainer p {
    font-size: 0.7rem;
    line-height: 1.65;
  }
}

 