
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 200px;
}

body {
  font-family: "Poppins";
  background-color: hsla(215, 60%, 4%, 0.9);
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 10;
  padding: 2em 4em;
  top: 0;
}

section {
  min-height: 100vh;
}

h1,
h2 {
  color: #B8F3FF;
  border-bottom: 5px solid #b1e4ee;
}

h2 {
  margin: 0 auto 40px auto;
  width: fit-content;
}

nav {
  margin-right: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 3em;
}

nav a {
  text-decoration: none;
  font-size: 1.2em;
  color: #9590A8;
}

nav a:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 #9590A8;
  content: "";
  display: block;
  height: 2px;
  width: 0;
}

nav a:hover:after {
  width: 100%;
}


.container {
  margin: 0 auto;
  padding: 100px;
  text-align: center;
}

.innerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  max-width: 75%; /* 75% of parent */
  margin: 100px auto;
}

.innerContainer p {
  flex: 1 1 auto;
  max-width: 60ch;
  line-height: 2em;
  font-size: 1.2em;
  text-align: left;
}

.myLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icons {
  flex: 0 0 auto;
  margin: 0;
}

.myLinksContainer a {
  color: inherit; /* use the parent’s color */
  text-decoration: none; /* drop the underline */
}

.myLinksContainer a:hover {
  color: #01BAEF;
}

.description {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 1em;
}

.projectLogos {
  padding-top: 30px;
}

.techIcons {
  width: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}


#menu-toggle {
  display: none;
}

#profile-pic {
  flex: 0 0 auto;
  width: 300px;
  height: 375px;
  border-radius: 5%;
  object-fit: cover;
  box-shadow: 5px 5px 5px #b5bad0;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-cards{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 500px);
  grid-auto-rows: minmax(500px, auto);
  gap: 1rem;
}

.card {
  border-radius: 3%;
  border: 2px solid #B8F3FF;
  font-size: 1.1rem;
  padding: 20px;
  margin: 10px;
  transition: transform 0.5s ease; 
}

.card:hover {
  transform: scale(1.1);
}

.project-header {
  font-size: 2rem;
  font-weight: bold;
}

.project-paragraph{
  text-align: left;
  margin: 10px;
}

.project-tech-stack ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-flow: row wrap;
}

.project-tech-stack li{
  padding-top: 10px;
  flex: 1 100px;
}

.project-link{
  padding: 10px;
  margin: 30px auto;
  border: 1px solid #B8F3FF;
  border-radius: 5%;
  width: 200px;
}

.project-link a{
  color: inherit;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 10px;
}

button {
  background-color: hsl(0, 2%, 48%);
  color: white;
  border: none;
  padding: 0.6em 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 2%, 48%); /* same as default to suppress change */
}

footer {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 25px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 1em;
    padding: 1em;
  }

  nav {
    margin: 0;
  }

  nav ul {
    display: none;
    flex-direction: column;
  }

  #menu-toggle {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
  }

  nav.active ul {
    display: flex;
    flex-direction: column;
  }

  #profile-pic{
    width: 50%;
    height: 50%;
  }

  .innerContainer {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }

  .innerContainer p {
    text-align: left;
    font-size: 0.8rem;
  }

  .fa-3x {
    font-size: 2em !important;
  }

  /* Projects section */
  .project-cards{
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(250px, auto);
  }

  .card{
    font-size: 0.6rem;
    padding: 10px;
  }

  .card:hover{
    transform: none;
  }

  .project-header{
    font-size: 0.9rem;
  }
}
