* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 200px;
}

body {
  font-family: "Poppins";
  background-color: hsla(215, 60%, 4%, 0.9);
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 2em 4em;
}

header > h1:first-child{
  cursor: default;
}

section {
  min-height: 100vh;
}

h1 {
  color: #B8F3FF;
  border-bottom: 5px solid #b1e4ee;
}

h2 {
  color: #B8F3FF;
}

h2::after {
  content: "";
  display: block;
  width: 7rem;
  height: 3px;
  background-color: #b1e4ee; 
  margin: 0 auto;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

h2:hover::after {
  transform: scaleX(1);
}

/* Nav-bar */

nav {
  margin-right: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 3em;
}

nav a {
  text-decoration: none;
  font-size: 1.2em;
  color: #9590A8;
}

nav a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #9590A8;
  transition: all ease-in-out .2s;
}

nav a:hover:after {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 8rem;
  text-align: center;
}

/* About section */

.innerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  max-width: 75%; 
  margin: 5rem auto;
}

#profile-pic {
  flex: 0 0 auto;
  width: 300px;
  height: 375px;
  border-radius: 5%;
  object-fit: cover;
  box-shadow: 5px 5px 5px #b5bad0;
}

.innerContainer p {
  flex: 1 1 auto;
  max-width: 60ch;
  font-size: clamp(0.8rem, 1.3vw + 0.5rem, 1.2rem);
  line-height: 2rem;
  text-align: left;
}

.myLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icons {
  flex: 0 0 auto;
  margin: 0;
}

.myLinksContainer a {
  color: inherit; /* use the parent’s color */
  text-decoration: none; /* drop the underline */
}

.myLinksContainer a:hover {
  color: #01BAEF;
}

/* Projects section */

.projectLogos {
  padding-top: 30px;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-cards{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 500px);
  grid-auto-rows: minmax(500px, auto);
  gap: 1rem;
}

.card {
  border-radius: 3%;
  border: 2px solid #B8F3FF;
  font-size: 1.1rem;
  padding: 20px;
  margin: 10px;
  transition: transform 0.5s ease; 
}

.card:hover {
  transform: scale(1.1);
}

.project-header {
  font-size: 2rem;
  font-weight: bold;
}

.project-paragraph{
  text-align: left;
  margin: 10px;
}

.project-tech-stack ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-flow: row wrap;
}

.project-tech-stack li{
  padding-top: 10px;
  flex: 1 100px;
}

.project-link{
  padding: 10px;
  margin: 30px auto;
  border: 1px solid #B8F3FF;
  border-radius: 5%;
  width: 200px;
}

.project-link a{
  color: inherit;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 10px;
}

footer {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 25px;
  font-size: 1.1rem;
}

.heart {
  color: rgb(216, 55, 55);
}
