* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins";
  background-color: hsla(215, 60%, 4%, 0.9);
  color: whitesmoke;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 2em 4em;
}

header > h1:first-child{
  cursor: default;
}

section {
  min-height: 100vh;
}

h1 {
  color: #B8F3FF;
  border-bottom: 5px solid #b1e4ee;
}

h2 {
  color: #B8F3FF;
  font-size: clamp(1.2rem, 2vw + 0.5rem, 1.5rem);
  cursor: default;
}

h2::after {
  content: "";
  display: block;
  width: 7rem;
  height: 3px;
  background-color: #b1e4ee; 
  margin: 0 auto;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

h2:hover::after {
  transform: scaleX(1);
}

/* Nav-bar */

.desktop-nav {
  margin-right: 10rem;
}

.desktop-nav ul {
  display: flex;
  list-style: none;
  gap: 3em;
}

.desktop-nav a {
  text-decoration: none;
  font-size: 1.2em;
  color: #9590A8;
}

.desktop-nav a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #9590A8;
  transition: all ease-in-out .2s;
}

.desktop-nav a:hover:after {
  width: 100%;
}

/* Hamburger nav */
.hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: whitesmoke;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: clamp(0.9rem, 1vw + 0.55rem, 1.2rem);
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  scroll-margin-top: 200px;
}

/* About section */

.innerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin: 5rem auto;
  max-width: 900px;
}

#profile-pic {
  width: clamp(150px, 30vw, 250px);
  height: auto;
  border-radius: 5%;
  object-fit: cover;
  box-shadow: 5px 5px 5px #b5bad0;
}

.innerContainer p {
  flex: 1;
  max-width: 60ch;
  font-size: clamp(1rem, 1vw + 0.55rem, 1.2rem);
  line-height: 1.7rem;
  text-align: left;
}

.myLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icons {
  flex: 0 0 auto;
  margin: 0;
}

.myLinksContainer a {
  color: inherit; 
  text-decoration: none;
}

.myLinksContainer a:hover {
  color: #01BAEF;
}

/* Projects section */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-cards{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(15vw, 500px));
  grid-auto-rows: minmax(300px, auto);
  gap: 1rem;
}

.card {
  border-radius: 3%;
  border: 2px solid #B8F3FF;
  padding: 20px;
  margin: 10px;
}

.project-header {
  font-size: clamp(1rem, 1vw + 0.8rem, 1.3rem);
}

.project-paragraph{
  text-align: left;
  margin: 10px;
}

.project-tech-stack ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-flow: row wrap;
  padding: 12px;
}

.project-paragraph, .project-tech-stack li{
  font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
}

.project-tech-stack li{
  padding-top: 10px;
  flex: 1;
}

.project-link{
  padding: 10px;
  margin: 20px auto;
  width: fit-content;
}

.project-link a{
  color: inherit;
  text-decoration: none;
}

/* Footer section */

footer {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 25px;
  font-size: clamp(1rem, 1vw + 0.55rem, 1.2rem);
  cursor: default;
}

.heart {
  color: rgb(216, 55, 55);
}