---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog">
  <header>
    <h1>My Blogs</h1>
    <p>Posts coming soon.</p>
     <ul>
      <li><a href="/blog/posts/post-1">Post 1</a></li>
    </ul>
  </header>
</BaseLayout>