@media (max-width: 1430px) {
  .project-cards{
    grid-template-columns: minmax(30%, 600px);
  }

}

@media (max-width: 1110px){
  .desktop-nav {
    display: none;
  }

  .hamburger-nav{
    display: flex;
  }

  .innerContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  header {
    gap: 1.5rem;
    padding: 1rem;
  }

  #profile-pic {
    width: clamp(120px, 30vw + 1rem, 200px);
  }

  .project-cards{
    width: 100%;
  }

  .fa-3x {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  #profile-pic {
    width: clamp(150px, 50vw + 0.2rem, 180px);
  }

  .innerContainer p {
    font-size: clamp(1rem, 1vw + 0.8rem, 1.2rem);
    line-height: 1.65rem;
  }

  .project-header {
    font-size: clamp(1rem, 1vw + 0.9rem, 1.3rem)
  }

  footer {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
  }
}

@media (max-width: 344px){
  #profile-pic {
    width: clamp(100px, 50vw + 0.3rem, 180px);
  }

  .container {
    padding: 2rem;
  }

  .innerContainer p {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
    line-height: 1.65rem;
  }

  #projects {
    padding: 1.5rem;
  }

  .card {
    overflow: scroll;
  }
}
