* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins";
  background-color: #040910e6;
  color: #f5f5f5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 2em 4em;
  gap: 20px;
}

header > h1:first-child{
  cursor: default;
}

section {
  min-height: 100vh;
}

h1 {
  color: #B8F3FF;
  border-bottom: 5px solid #b1e4ee;
  font-size: clamp(1.85rem, 6vw, 2.1rem);
}

h2 {
  color: #B8F3FF;
  font-size: clamp(1.2rem, 2vw + 0.5rem, 1.5rem);
  cursor: default;
}

h2::after {
  content: "";
  display: block;
  width: 7rem;
  height: 3px;
  background-color: #b1e4ee; 
  margin: 0 auto;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

h2:hover::after {
  transform: scaleX(1);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Nav */

.desktop-nav {
  margin-right: 10rem;
}

.desktop-nav ul {
  display: flex;
  list-style: none;
  gap: 3em;
}

.desktop-nav a {
  font-size: 1.2em;
  color: #9590A8;
  margin-top: 50px;  
}

.desktop-nav a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #9590A8;
  transition: all ease-in-out .2s;
}

.desktop-nav a:hover::after {
  width: 100%;
}

.desktop-nav i{
  padding-top: 15px;
}

/* Hamburger nav */
.hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #f5efefe2;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f5efef8b;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: clamp(0.9rem, 1vw + 0.55rem, 1.2rem);
  color: inherit;
  transition: all 0.3 ease-in-out;
}

.menu-links a:hover{
  background-color: #f5efef9d;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  scroll-margin-top: 200px;
}

/* About section */

.innerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin: 3rem auto;
  width: 90%;
}

#profile-pic {
  max-width: 250px;
  border-radius: 8px;
  box-shadow: 5px 5px 3px #b7c0ea;
}

.innerContainer p {
  flex: 1;
  max-width: 60ch;
  font-size: clamp(1rem, 1vw + 0.55rem, 1.2rem);
  line-height: 1.7rem;
  text-align: left;
  padding: 10px;
}

.myLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icons {
  flex: 0 0 auto;
  margin: 0;
}

.myLinksContainer a:hover {
  color: #01BAEF;
}

/* Projects section */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-cards{
  display: grid;
  grid-template-columns: repeat(3, minmax(15vw, 500px));
  grid-auto-rows: minmax(300px, auto);
  gap: 1rem;
  margin: 15px auto;
}

.card {
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  color: #3a393b;
}

.project-header {
  font-size: clamp(1rem, 1vw + 0.8rem, 1.3rem);
}

.project-paragraph{
  text-align: left;
  margin: 10px;
  min-height: 8rem;
}

.project-tech-stack ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-flow: row wrap;
  padding: 12px;
}

.project-paragraph, .project-tech-stack li{
  font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
}

.project-tech-stack li{
  padding: 10px;
  flex: 1;
}

.project-link {
  padding: 10px;
  margin: 20px auto;
  width: fit-content;
  color: inherit;
  text-decoration: none;
}

/* Footer section */

footer {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 25px;
  font-size: clamp(1rem, 1vw + 0.55rem, 1.2rem);
  cursor: default;
}

.heart {
  color: rgb(216, 55, 55);
}

/* Blogs */

#blog-header {
  position: static;
}

.blog-list-container{
  min-height: 100vh;
}

.blog-list {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
  list-style: none;
  gap: 10px;
  overflow: auto;
}

.blog-list li {
  font-size: clamp(1rem, 1rem + 5vw, 1.3rem);
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border-radius: 7px;
  padding: 15px;  
}

.blog-link {
  font-weight: 500;
  color: #3a393b
}

#scroll-to-header{
  position: fixed;
  top: 50vh;
  right: 10vw;
}

#scroll-to-header i {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

/* Blog */
.post {
  min-height: 100vh;
}

.post h1 {
  color: #B8F3FF;
  border-bottom: 0px solid #b1e4ee;
  font-size: clamp(1.85rem, 6vw, 1.9rem);
}

.post .blg-content-container {
  font-size: clamp(0.8rem, 2vw + 0.8rem, 1rem);
  width: 50%;
  min-height: 100vh;
  margin: 5rem auto 0 auto; 
  line-height: 2rem;
  
}

.post-image {
  border-radius: 5%;
  margin-top: 20px;
}

.image-container {
  text-align: center;
}

.post p {
  margin-top: 3rem;
}

#post-listing {
  max-width: 50%;
  margin: 0 auto;
  list-style: none;
}

#post-listing a:hover{
  border-bottom: 2px solid #b1e4ee;
}
