---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Tre Huang">
    <header>
      <h1>Portfolio</h1>  
      <nav class="desktop-nav">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="./blog/index.html">Blog</a></li>
        </ul>
      </nav>
      <nav class="hamburger-nav">
        <div class="hamburger-menu">
          <div class="hamburger-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="menu-links">
            <li><a href="#about" onclick="toggleMenu()">About</a></li>
            <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
            <li><a href="./blog/index.html" onclick="toggleMenu()">Blog </a></li>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <div class="container" id="about">
          <h2>About Me</h2>
          <div class="innerContainer">
            <img id="profile-pic" src="assets/me.jpg" />
            <p>
              Hello, my name is Tre and I'm currently studying Computer Science
              at the University of Florida. My goal is to become a 
              backend software engineer and utilize both my attention 
              to detail and problem-solving skills to help companies build, 
              deploy, and maintain scalable web applications.<br /><br />

              I'm currently building a minimal chess engine in Python that includes a
              board representation and alpha-beta pruning. This project highlights my
              understanding of object-oriented programming and algorithmic 
              problem-solving, both of which are valuable in backend development.<br /><br />

              Outside of work I also enjoy playing strategic games like chess,
              running, and cooking!
            </p>
          </div>

          <div class="myLinksContainer">
            <div class="icons" id="Github">
              <a
                href="https://github.com/siaslas98"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="fa-brands fa-github fa-3x"></i>
              </a>
            </div>
            <div class="icons" id="Linkedin">
              <a
                href="https://www.linkedin.com/in/tre-huang-20862a218/"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="fa-brands fa-linkedin fa-3x"></i>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container" id="projects">
          <h2>Projects</h2>
          <div class="project-cards">
            <div class="card">
              <h3 class="project-header">Aspire Link</h3>
              <p class="project-paragraph">
                Internship support tool for Computer Science students seeking internships. Implements gamified checkins, company watchlists, and a notification system.
              </p>
              <div class="project-tech-stack">
                <ul>
                  <li>Python</li>
                  <li>FastAPI</li>
                  <li>SQLAlchemy</li>
                  <li>Jinja2</li>
                </ul>
                <a
                  class="project-link"
                  href="https://github.com/siaslas98/AspireLink"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                <i class="fa-brands fa-github fa-2x"> </i>
                </a>
                
              </div>
            </div>

            <div class="card">
              <h3 class="project-header">Cooks-Match</h3>
              <p class="project-paragraph">Receipt ingredients to recipes that extracts ingredients from a grocery receipt and generates recipes that can be made with them.</p>
              <div class="project-tech-stack">
                <ul>
                  <li>Javascript</li>
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>Python</li>
                  <li>EasyOCR</li>
                  <li>MongoDB</li>
                </ul>
                <a
                  class="project-link"
                  href="https://github.com/siaslas98/Cooks-Match"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                <i class="fa-brands fa-github fa-2x"> </i>
                </a>
              </div>
            </div>
            
            <div class="card">
              <h3 class="project-header">Chess Move Reaction AI</h3>
              <p class="project-paragraph"> Browser based chess move evaluator that takes a move and reacts with logical explanations.</p>

              <div class="project-tech-stack">
                <ul>
                  <li>Python</li>
                  <li>Node.js</li>
                  <li>Stockfish Binary</li>
                </ul>
                <a
                  class="project-link"
                  href="https://github.com/siaslas98/chess-move-reaction-ai"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                <i class="fa-brands fa-github fa-2x"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section> 
    </main>
    <footer><p>&copy; 2025 Tre Huang - Made with <i class="fa-solid fa-heart fa-bounce heart"></i></p></footer>
</BaseLayout>
